body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(violet, skyblue);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  width: 100%;
  max-width: 560px;
  border-width: 1px;
  border-style: groove;
  border-radius: 30px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0.5, 0, 0.5);
}

.title {
  border-style: groove;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 80px;
  background-color: violet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  margin: 0 30px;
  font-size: 20px;
}

.inputs label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 40px;
  width: 100%; 
  max-width: 480px; 
  border-radius: 10px;
}

.calc {
  width: 100%;
  max-width: 300px; 
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: violet;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.calc:hover {
  background-color: rgb(242, 102, 242); 
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .container {
    padding: 10px;
    width: 90%; 
    margin: 10px auto; 
  }

  .title h2 {
    font-size: 1.2em;
  }

  .inputs input, .inputs button {
    font-size: 14px;
  }
}
